<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<style type="text/css">
		table {
		    border-collapse: collapse;
		}

		table, th, td {
		    border: 1px solid black;
		}
		td{
			padding: 10px;
		}
	</style>
</head>
<body>
	<p>Forward this email to <span><%= @client.email %></span></p>	
	<h3>Suggested candidates:</h3>
	<% @candidates.each do |candidate| %>
	   <table>
	   		<tr>
	   			<th>Full Name</th>
	   			<th>See more about candidate</th>
	   			<th>Schedule Interview</th>
	   		</tr>	
		   	<tr>
		   		<td>
					<%= candidate.first_name %>	
					
					<%= candidate.last_name %>
				</td>
				<td>
					<%= url_for(:controller => "candidates", :action => "show",:only_path => false, :id => candidate.id, :host => "localhost:3000")  %>
				</td>
				<td>
					
					<%= url_for(:controller => "interviews", :action => "new", candidate: candidate.id,client_request: @client_request, :escape => false, :host => "localhost:3000") %>
				</td>
			</tr>

		</table>		
	<% end %>
</body>	